<h1>张健教戒除游戏瘾 - 家长篇</h1>

<ul>
  <% @articles.each do |article| %>
    <li>
      <%= article.title || article.path %>
      <%= link_to 'Read', "#{articles_path}/#{article.path}" %>
    </li>
  <% end %>
</ul>
